In [1]:
import random

In [ ]:
import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")

In [2]:
gre_scores = {
    "University of Wisconsin Madison": random.randint(320, 330),
    "University of Pennsylvania": random.randint(320, 330),
    "University of Michigan Ann Arbor": random.randint(320, 330),
    "University of Illinois Urbana-Champaign": random.randint(320, 330),
    "University of California San Diego": random.randint(320, 330),
    "University of California Los Angeles": random.randint(320, 330),
    "Stanford University": random.randint(320, 330),
    "Princeton University": random.randint(320, 330),
    "Northwestern University": random.randint(310, 320),
    "New York University": random.randint(310, 320),
    "Carnegie Mellon University": random.randint(320, 330),
    "California Institute of Technology": random.randint(320, 330),
    "Columbia University": random.randint(320, 330),
    "Cornell University": random.randint(320, 330),
    "Massachusetts Institute of Technology": random.randint(320, 330),
    "Johns Hopkins University": random.randint(320, 330),
    "Harvard University": random.randint(300, 310),
    "University of Washington": random.randint(300, 310),
    "University of Texas Austin": random.randint(310, 320),
    "University of Minnesota Twin Cities": random.randint(310, 320),
    "Purdue University": random.randint(320, 330),
    "Georgia Institute of Technology": random.randint(320, 330),
    "Virginia Polytechnic Institute and State University": random.randint(320, 330),
    "University of Southern California": random.randint(320, 330),
    "University of California Davis": random.randint(300, 310),
    "Texas A and M University College Station": random.randint(310, 320),
    "Ohio State University Columbus": random.randint(310, 320),
    "University of Maryland College Park": random.randint(310, 320),
    "University of Florida": random.randint(310, 320),
    "University of California Santa Barbara": random.randint(300, 310),
    "Rutgers University New Brunswick/Piscataway": random.randint(300, 310),
    "Arizona State University": random.randint(300, 310),
    "University of Massachusetts Amherst": random.randint(290, 305),
    "University of Colorado Boulder": random.randint(290, 305),
    "University of California Irvine": random.randint(290, 305),
    "University of Arizona": random.randint(290, 305),
    "North Carolina State University": random.randint(310, 320),
    "University of Illinois Chicago": random.randint(300, 310),
    "University of California Santa Cruz": random.randint(290, 310),
    "SUNY Stony Brook": random.randint(290, 310),
    "University of Cincinnati": random.randint(280, 300),
    "Syracuse University": random.randint(280, 300),
    "SUNY Buffalo": random.randint(280, 300),
    "New Jersey Institute of Technology": random.randint(280, 290),
    "George Mason University": random.randint(280, 290),
    "Clemson University": random.randint(280, 290),
    'Worcester Polytechnic Institute': random.randint(270, 280),
    'Wayne State University': random.randint(270, 280),
    'University of Utah': random.randint(270, 280),
    'University of Texas Dallas': random.randint(270, 280),
    'University of Texas Arlington': random.randint(270, 280),
    'University of North Carolina Charlotte': random.randint(270, 280),
    'University of North Carolina Chapel Hill': random.randint(270, 280),
    'Northeastern University': random.randint(270, 280)
}

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Step 1: Load data from CSV
file_path = "user_user_wo_toefl_score.csv"
df = pd.read_csv(path)
#df_user = pd.read_csv(path)

In [5]:
df.head()

,userName,major,researchExp,industryExp,internExp,greV,greQ,journalPubs,confPubs,cgpa,univName,admit
0,143saf,Robotics,0,18,5.0,160.00,167.000,0,0,0.8500,Worcester Polytechnic Institute,1
1,AB25,MIS,0,66,0.0,146.00,157.000,0,0,0.7828,Worcester Polytechnic Institute,1
2,abhijitgang,MIS,0,0,0.0,89.25,163.625,0,0,0.5700,Worcester Polytechnic Institute,1
3,agteakash,MIS,0,0,0.0,150.00,161.000,0,0,0.6220,Worcester Polytechnic Institute,1
4,alankarMIS,MIS,0,0,0.0,147.00,156.000,0,0,0.5200,Worcester Polytechnic Institute,1

In [6]:
# Create a mapping from university names to GRE scores
univ_to_gre_score = {univ: gre_scores.get(univ, None) for univ in df['univName']}

# Add a new column 'gre_score' based on the mapping
df['gre_score'] = df['univName'].map(univ_to_gre_score)

In [9]:
# Filter rows where gre_score is NaN
rows_with_nan_gre_score = df[df['gre_score'].isna()]

# Display universities with NaN gre_score
universities_with_nan_gre_score = rows_with_nan_gre_score['univName'].unique()

print("List of universities with NaN gre_score:")
print(universities_with_nan_gre_score)

List of universities with NaN gre_score:
[]

In [15]:
df = df[df['admit'] != 0]

In [16]:
# Export the filtered DataFrame as CSV
df.to_csv('pre_processed_data.csv', index=False)

In [13]:
X = df.drop(columns=['userName','major',"univName","admit", 'greV','greQ'])

y = df["univName"]
print("Number of unique universities:", df['univName'].nunique())

Number of unique universities: 54